
<!DOCTYPE html>
<html lang="en">
    <%- include('./layout/css.ejs') %>
  
<body class="menubar-left menubar-unfold menubar-light theme-primary">
<!--============= start main area -->

<%- include('./layout/header.ejs') %>

<%- include('./layout/sidebar.ejs') %>


<!-- APP MAIN ==========-->
<main id="app-main" class="app-main">
  <div class="wrap">
  <section class="app-content">
    <div class="row">
     
      <div class="col-md-12">
        <div class="widget">
          <header class="widget-header">
            <h3 class="widget-title">Between Dates Report of Appointments</h3>
          </header><!-- .widget-header -->
          <hr class="widget-separator">
          <div class="widget-body">
           
            <form class="form-horizontal" method="post" name="bwdatesreport" action="/report_detail">
              <div class="form-group">
                <label for="exampleTextInput1" class="col-sm-3 control-label">From Date:</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" id="fromdate" name="fromdate" value="" required='true'>
                </div>
              </div>
              <div class="form-group">
                <label for="email2" class="col-sm-3 control-label">To Date:</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" id="todate" name="todate" value="" required='true'>
                </div>
              </div>
              
              <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                  <button type="submit" class="btn btn-success" name="submit">Submit</button>
                </div>
              </div>
                
            </form>
          </div><!-- .widget-body -->
        </div><!-- .widget -->
      </div><!-- END column -->

    </div><!-- .row -->
  </section><!-- #dash-content -->
</div><!-- .wrap -->
  <!-- APP FOOTER -->

  <!-- /#app-footer -->
</main>
<!--========== END app main -->


  
  <!-- SIDE PANEL -->
 

  <!-- build:js assets/js/core.min.js -->
  <script src="/assets/libs/bower/jquery/dist/jquery.js"></script>
  <script src="/assets/libs/bower/jquery-ui/jquery-ui.min.js"></script>
  <script src="/assets/libs/bower/jQuery-Storage-API/jquery.storageapi.min.js"></script>
  <script src="/assets/libs/bower/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <script src="/assets/libs/bower/jquery-slimscroll/jquery.slimscroll.js"></script>
  <script src="/assets/libs/bower/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
  <script src="/assets/libs/bower/PACE/pace.min.js"></script>
  <!-- endbuild -->

  <!-- build:js assets/js/app.min.js -->
  <script src="/assets/js/library.js"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/app.js"></script>
  <!-- endbuild -->
  <script src="/assets/libs/bower/moment/moment.js"></script>
  <script src="/assets/libs/bower/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="/assets/js/fullcalendar.js"></script>
</body>
</html>
