<!DOCTYPE html>
<html lang="en">

<%- include('./layout/css1.ejs') %>
    

    <body class="menubar-left menubar-unfold menubar-light theme-primary">

    <%- include('./layout/header.ejs') %>


    <%- include('./layout/sidebar.ejs') %>

    <main id="app-main" class="app-main">
        <div class="wrap">
            <section class="app-content">
                <div class="row">
                    <div class="row">
                       <div class="row">

                        <div class="col-md-6 col-sm-6">
                            <div class="widget stats-widget">
                                <div class="widget-body clearfix">
                                   
                                    <div class="pull-left">
                                        <h3 class="widget-title text-warning"><span class="counter" data-plugin="counterUp"><%= allPatientAppoinment%></h3>
                                        <small class="text-color">Patient Visits</small>
                                    </div>
                                    <span class="pull-right big-icon watermark"><i class="fa fa-paperclip"></i></span>
                                </div>
                                <footer class="widget-footer bg-warning">
                                    <a href="/patient/patient_list"><small> View Detail</small></a>
                                    <span class="small-chart pull-right" data-plugin="sparkline" data-options="[4,3,5,2,1], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"></span>
                                </footer>
                            </div><!-- .widget -->
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="widget stats-widget">
                                <div class="widget-body clearfix">
                                  
                                    <div class="pull-left">
                                           <h3>PATIENT'S</h3>
                                        <small class="text-color">Book Appointment</small>
                                    </div>
                                    <span class="pull-right big-icon watermark"><i class="fa fa-ban"></i></span>
                                </div>
                                <footer class="widget-footer bg-success">
                                    <a href="/patient/book_appo"><small> Click for Appointment</small></a>
                                    <span class="small-chart pull-right" data-plugin="sparkline" data-options="[1,2,3,5,4], { type: 'bar', barColor: '#ffffff', barWidth: 5, barSpacing: 2 }"></span>
                                </footer>
                            </div>
                        </div>
                 </section>
        </div>
       
    </main>
</body>
</html>
<script src="../assets/libs/bower/jquery/dist/jquery.js"></script>
<script src="../assets/libs/bower/jquery-ui/jquery-ui.min.js"></script>
<script src="../assets/libs/bower/jQuery-Storage-API/jquery.storageapi.min.js"></script>
<script src="../assets/libs/bower/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="../assets/libs/bower/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="../assets/libs/bower/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="../assets/libs/bower/PACE/pace.min.js"></script>
<!-- endbuild -->

<!-- build:js assets/js/app.min.js -->
<script src="../assets/js/library.js"></script>
<script src="../assets/js/plugins.js"></script>
<script src="../assets/js/app.js"></script>
<!-- endbuild -->
<script src="../assets/libs/bower/moment/moment.js"></script>
<script src="../assets/libs/bower/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="../assets/js/fullcalendar.js"></script>














